<div class="flex h-screen w-screen">
  <div class="auth-bg hidden flex-1 items-center justify-center bg-primary bg-cover lg:flex">
    <div class="max-w-2xl space-y-4 p-8 text-center text-white">
      <div class="flex items-center justify-center">
        <img src="./assets/logo-wb.png" class="h-auto max-w-[30%]" alt="dashboard widget" />
      </div>

      <h1 class="text-2xl font-bold uppercase tracking-wide">Business Commerce Admin</h1>

      <p class="text-justify text-sm font-light leading-relaxed">
        Gestion d’activité e-commerce en toute simplicité avec <span class="font-medium text-yellow-400">BCA</span>, une
        plateforme d’administration tout-en-un. Suivi des commandes, gestion des produits, analyse des ventes et
        optimisation de la relation client depuis un tableau de bord intuitif.
        <span class="font-medium text-yellow-400">Accès à des rapports détaillés</span>, automatisation de la gestion
        des stocks et amélioration des performances grâce à des outils puissants conçus pour simplifier l’administration
        du commerce.
      </p>
    </div>
  </div>
  <div class="flex flex-1 items-center justify-center bg-background">
    <div class="max-w-md overflow-y-auto px-4 sm:w-[500px]">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
